
h3{text-decoration:underline;}

.generate{
    font-size: large;
    text-align:left;

    justify-content: left;
}

.print
{
    text-align:center;
    font-weight: bold;
}

.innerhtml
{
    font-weight: bold;
    text-align: center;
    contain: content;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom:20px;
    background-color: blanchedalmond;
    }

sm-button{
    width: 30%;
    margin-left: 40%;
}

sm-input{
    width: 50%; 
    margin-left: 25%;
    contain:content;

}

sm-popup
{
    font-family: sans-serif;
    font-style: italic;

}
a{cursor: pointer;
color: blueviolet;
text-decoration: underline;
}
ul{margin-left: 20px;
}
.option{color:rgb(85, 59, 59);text-decoration: none;}
