.sendapplicationdata{
border:black solid 2px;
border-radius: 50px;
}

h3{text-decoration:underline;}

.generate{
    font-size: large;
    text-align:left;

    justify-content: left;
}

.print
{
    text-align:center;
    font-weight: bold;
}

.innerhtml
{
    font-weight: bold;
    text-align: center;
    contain:content;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom:20px;
    background-color: blanchedalmond;
    }
sm-button{
    width: 30%;
    margin-left: 35%;
}

sm-input{
    width: 50%; 
    margin-left: 25%;

}
#bgtry
{
     border-bottom:solid gray;
}
sm-popup
{
    --height:50%;
    --width:70%;

}
a{cursor: pointer;
color: blueviolet;
text-decoration: underline;}